// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$white: #fff;
$black: #000;
$red: #f9243d;
$orange: #ff523c;
$yellow: #ffd500;
$green: #19b934;
$blue: #3173b9;
$diluted-blue: #0af;
$teal: #1693a5;
$pink: #ff5b77;
$purple: #7f8fa4;
$cloudy: #ecf1f5;

$dark-blue: #5593C5;

// Create grayscale
$gray-dark: #333c48;
$gray: #7f8fa4;
$gray-light: #acb0b5;
$gray-lighter: #d3dbe5;
$gray-lightest: #f7f7f9;

// Reassign color vars to semantic color scheme
$brand-primary: $dark-blue;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $orange;
$brand-danger: $red;
$brand-inverse: $gray-dark;

$link-color: $blue;


$body-bg: $cloudy;
$body-color: $gray-dark;

$border-radius: .2rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

$input-border-color: $gray-lighter;
$input-color: $gray-dark;
$input-bg-disabled: $gray-lightest;
$input-bg: $white;

$custom-select-disabled-color: $gray-lighter;

$enable-shadows: false;

$breadcrumb-bg: transparent;

$btn-primary-color: rgba($white, .8);
$btn-info-color: rgba($white, .8);
$btn-success-color: rgba($white, .8);
$btn-warning-color: rgba($white, .8);
$btn-danger-color: rgba($white, .8);

$btn-font-weight: normal;

$btn-secondary-bg: $cloudy;
$btn-secondary-border: $cloudy;
$btn-secondary-color: $gray;

.dropdown-toggle {
  padding-right: 30px !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='1792' height='1792' fill='%236E6F89' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: auto 50%;
}

.dropdown-toggle::after {
  display: none !important;
}

$headings-font-weight: 200;

.custom-control-indicator {
  top: .1rem !important;
}

.description {
  color: $gray;
}

body label {
  margin-bottom: .1rem;
  color: $gray;
}

$tooltip-bg: $gray-dark;

$dropdown-link-hover-bg: $dark-blue;
$dropdown-link-hover-color: rgba(255, 255, 255, .9);
$dropdown-margin-top: .4rem;
$dropdown-item-padding-x: .5rem;

.dropdown-menu {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.dropdown-item {
  border-radius: 3px;
}

.bd-example {
  background-color: #fff;
}

select.form-control.placeholder-shown,
.form-control:placeholder-shown {
  font-weight: 100 !important;
  background-color: rgba(0, 20, 100, .03);
}
