// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$white: #fff;
$black: #000;
$red: #f9243d;
$orange: #ff523c;
$yellow: #ffd500;
$green: #19b934;
$blue: #3173b9;
$diluted-blue: #0af;
$teal: #1693a5;
$pink: #ff5b77;
$purple: #7f8fa4;
$cloudy: #ecf1f5;

$dark-blue: #556270;

// Create grayscale
$gray-dark: #333c48;
$gray: #7f8fa4;
$gray-light: #acb0b5;
$gray-lighter: #d3dbe5;
$gray-lightest: #f7f7f9;

// Reassign color vars to semantic color scheme
$brand-primary: $dark-blue;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $orange;
$brand-danger: $red;
$brand-inverse: $gray-dark;

$body-bg: $cloudy;
$body-color: $gray-dark;

$input-border-color: $gray-lighter;
$input-color: $gray-dark;
$input-bg-disabled: $gray-lightest;

$custom-select-disabled-color:      $gray-lighter;

$enable-shadows: true;

$breadcrumb-bg: transparent;

$btn-primary-color: rgba($white, .8);
$btn-info-color: rgba($white, .8);
$btn-success-color: rgba($white, .8);
$btn-warning-color: rgba($white, .8);
$btn-danger-color: rgba($white, .8);

$btn-font-weight: normal;
$btn-padding-y: .7rem;

$headings-font-weight: 200;

.custom-control-indicator {
  top: .1rem !important;
}


.description {
  color: $gray;
}

body label {
  margin-bottom: .1rem;
  color: $gray;
}


$dropdown-link-hover-bg: $gray-lighter;
$dropdown-margin-top: .4rem;
$dropdown-item-padding-x: .5rem;

.dropdown-menu {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.dropdown-item {
  border-radius: 3px;
}

.bd-example {
  background-color: #fff;
}
